<h1>Listing questions</h1>

<div id="questions_feed">
  <table>
    <thead>
      <tr>
        <th><strong>Question<strong></th>
        <th>View</th>
        <th>Change</th>
        <th>Delete</th>
      </tr>
    </thead>

    <tbody>
      <% @questions.each do |question| %>
        <tr>
          <td><%= question.question %> </td>
          <td><%= link_to 'Show', question %></td>
          <td><%= link_to 'Edit', edit_question_path(question) %></td>
          <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New Question', new_question_path %>
